# Eclipse project artifacts
/.cproject
/.project

# Generated output
/libbitcoin/
/libbitcoin-blockchain/
/libbitcoin-client/
/libbitcoin-consensus/
/libbitcoin-database/
/libbitcoin-explorer/
/libbitcoin-network/
/libbitcoin-node/
/libbitcoin-protocol/
/libbitcoin-server/
/update_repository_artifacts.cmd
/update_repository_artifacts.sh
